.burger-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 0;
  background-color: #16161aee;
  border-bottom: 2px solid #ffffff00;
  z-index: 2;
  transition: all 0.5s ease;
}

.burger-menu.open {
  right: 0;
  max-height: 100%;
  max-width: 100%;
  transition: all 0.5s ease;
  border-bottom: 1.5px solid #ffffff;
  padding: 0 0 20px 0;

  .menu-items li {
    visibility: visible;
    transition: all 1s ease;
  }
}

.burger-icon {
  cursor: pointer;
  padding: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.menu-items li {
  margin: 5px 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 12px;
  padding: 10px;
  visibility: hidden;
}

.menu-items li:hover {
  background: linear-gradient(
    to right,
    hsla(240, 8%, 9) 20%,
    hsla(155, 61%, 44%) 80%
  );
}

@media screen and (max-width: 740px) {
  .burger-menu {
    display: flex;
  }
}
