.carousel-container {
  text-align: center;
  position: relative;
  bottom: 40px;
  padding: 0 140px;
}

.carousel {
  position: relative;
  display: inline-block;
}

.carousel-image {
  width: 90vh;
  height: 70vh;
  object-fit: contain;
  transition: opacity 0.3s ease;
  margin: 0;
  border: 2px solid #e5317031;
  background: #ff8b061b;
  border-radius: 5px;
  box-shadow: inset -1px 1px 18px 2px rgba(255, 139, 6, 0.087);
}

.buttons {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  gap: 20px;
}
.carousel-button {
  background-color: #2e2f3e;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9;
  width: 100px;
  margin-right: 150px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
