.contact {
  margin: 200px auto;

  iframe {
    margin: 0 auto;
  }
  #bloc-hide {
    background-color: #16161a;
    height: 50px;
    width: 250px;
    position: relative;
    bottom: 60px;
    left: 1200px;
  }
}
