.header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  top: 150px;
  height: auto;

  #accueil {
    height: 50px;
    background-color: #fff;
    width: 100px;
    position: relative;
    bottom: 320px;
  }

  .texts-content {
    margin-right: 20px;
    .titles {
      position: relative;
      right: 550px;
      animation: titles-animate 1.7s ease-out forwards;
    }
    h1 {
      font-size: 5.2em;
      font-weight: 500;
      color: #2cb67d;

      #yes {
        animation: letter-spawn 6s ease forwards;
      }
      #zzouz {
        animation: letter-spawn 6s ease forwards;
      }
    }

    .subtitle-wd {
      font-size: 2.5em;
      position: relative;
      bottom: 50px;
      left: 50px;
      display: flex;
      gap: 6px;

      #st-w,
      #st-e-0,
      #st-b,
      #st-d,
      #st-e-1,
      #st-v,
      #st-e-2,
      #st-l,
      #st-o,
      #st-p-1,
      #st-p-2,
      #st-e-3,
      #st-r {
        opacity: 1;
        position: relative;
        bottom: 2em;
      }

      #st-w {
        animation: subtitle-header-anime 1.4s linear forwards;
      }

      #st-v {
        animation: subtitle-header-anime 1.9s linear forwards;
      }

      #st-e-2 {
        animation: subtitle-header-anime 1.9s linear forwards;
      }

      #st-l {
        animation: subtitle-header-anime 2.2s linear forwards;
      }

      #st-o {
        animation: subtitle-header-anime 1.9s linear forwards;
      }

      #st-p-1 {
        animation: subtitle-header-anime 2.2s linear forwards;
      }

      #st-b {
        animation: subtitle-header-anime 1.7s linear forwards;
      }

      #st-p-2,
      #st-e-3,
      #st-r,
      #st-e-0,
      #st-d,
      #st-e-1 {
        animation: subtitle-header-anime 1.6s linear forwards;
      }
    }

    #l,
    #a,
    #w,
    #d {
      color: #ffffff;
    }
    p {
      color: #94a1b2;
      font-weight: 300;
      width: 500px;
      line-height: 1.8;
      animation: texte-animate 2s ease-out forwards;
      position: relative;
    }

    /* Styles pour le bouton */
    button {
      height: 60px;
      width: 190px;
      background-color: #7f5af0;
      color: #fffffe;
      font-weight: 600;
      border-radius: 5px;
      margin: 30px 0 0 30px;
      border: none;
      cursor: pointer;
    }
  }

  /* Ligne verticale à côté du texte */
  .rectangle {
    width: 1px;
    background-color: #94a1b2;
    animation: rectangle-animate 0.9s ease forwards;
    position: relative;
    left: 0;
    top: 330px;
  }
}

/* Animation pour faire apparaître les lettres */

@keyframes titles-animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(550px);
  }
}

@keyframes letter-spawn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    color: #ffffff;
  }
}

@keyframes subtitle-header-anime {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Déplacement vers le haut */
    color: #fff;
  }
  50% {
    opacity: 0.5;
    transform: translateY(0); /* Retour à la position originale */
    color: #fff;
  }
  100% {
    opacity: 1;
    transform: translateY(20px); /* Déplacement vers le bas */
    color: #2cb67d;
  }
}

@keyframes web-anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
    color: #fff;
  }
}

/* Animation pour "Web Developer" */
@keyframes subtitle-header-anime {
  0% {
    opacity: 0;
    color: #fff;
  }
  50% {
    opacity: 0.5;
    color: #fff;
  }
  100% {
    opacity: 1;
    bottom: 0px;
    color: #2cb67d;
  }
}

@keyframes texte-animate {
  0% {
    opacity: 0;
    transform: translate(-700px);
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes rectangle-animate {
  0% {
    height: 0px;
  }
  100% {
    height: 700px;
  }
}
