.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 200px auto;
  opacity: 0.992;
}
.modal-content {
  background: linear-gradient(to top, #000000, #362a5a);
  margin: 50px;
  padding: 50px 0;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-height: 85vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 50px;
    padding: 10px;
    background: linear-gradient(to top, #000000b4, #291b52b7);
    border-radius: 5px;
    box-shadow: -1px 10px 25px -7px #000000;
  }
  .modal-elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .elements {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      gap: 20px;
      background: linear-gradient(to top, #000000, #7f5af05d);
      box-shadow: -1px 10px 18px 2px #000000;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 16vh;

      p {
        text-align: left;
        max-width: 500px;
        opacity: 0.8;
        color: #fff;
        font-size: 1.3vh;
        line-height: 1.4;
        font-weight: 600;
      }
      .logos {
        display: flex;
        gap: 20px;
        box-shadow: #ffffff 0px 10px 57px -10px, #000000 0px 8px 28px -2px;
        border-radius: 20px;
        padding: 6px 20px;
        background-color: #00000071;

        img {
          height: 34px;
          width: 34px;
        }
      }
      a {
        color: #2cb67d;
      }
    }
  }
  .button-modal {
    margin-top: 20px;
    background-color: #ee4c24;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
}

.modal-entering {
  animation: unfold 1s ease-in-out forwards;
}

@keyframes unfold {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
