.navbar-container {
  background-color: #16161a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 5;
  left: 0;

  // Carré qui se transforme en ligne de chargement dans la navbar
  .square {
    position: absolute;
    left: 0;
    top: 100px;

    background: linear-gradient(
      to right,
      white 0%,
      #2cb67d 0%,
      #2cb67d 100%
    ); /* Gradient initial */
    background-size: 100% 100%;

    animation: square-animation 3.7s ease-in-out forwards;
  }

  // Eléments de la barre de navigation
  .elements {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    font-size: 1.8em;

    .me {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      padding-left: 65px;
      cursor: pointer;
      font-family: "Oxygen", sans-serif;
      animation: liste-animate 5s ease-in-out forwards;

      .name {
        font-weight: 600;
      }
      .poste {
        font-weight: 300;
        font-size: 0.5em;
        color: #2cb67d;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 50px;
    list-style-type: none;
    font-weight: 300;
    font-size: 0.7em;
    position: relative;
    left: 0;
    animation: liste-animate 6s ease forwards;
    a {
      color: #fff;
    }
    .liste {
      display: inline-block;
      position: relative;
      cursor: pointer;
      font-family: "Oxygen", sans-serif;
      animation: item-opacity 2.3s ease forwards;
    }
    .liste:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      top: 30px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.2s ease-out;
    }
    .liste:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  // Ligne qui apparait apres le passage du carré
  .line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    opacity: 0;
    animation: line-animate 4.7s ease-in forwards;
  }
}

// Animation du carré qui se transforme en ligne de chargement
@keyframes square-animation {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    background-size: 80% 20%;
  }
  50% {
    width: 100%;
    height: 2px;
    opacity: 1;
    left: 0;
    background-size: 100% 100%;
  }
  80% {
    width: 100%;
    height: 2px;
    opacity: 1;
    left: calc(100% - 10px);
    background-size: 100% 100%;
  }
  90% {
    width: 2px;
    height: 0px;
    opacity: 1;
    left: calc(0% - 0px);
    background-size: 100% 100%;
    background-color: #fff;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
    left: calc(0% - 0px);
    background-size: 100% 100%;
    background-color: #ffff;
  }
}

// Animation de la ligne décorative
@keyframes line-animate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

// Animation des éléments de la liste
@keyframes liste-animate {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    transition: 1s ease;
  }
}

// Animation d'opacité des éléments de la liste
@keyframes item-opacity {
  0% {
    opacity: 0;
    color: #2cb67d;
  }
  20% {
    opacity: 0.2;
    color: #2cb67d;
  }
  40% {
    opacity: 0.4;
    color: #2cb67d;
  }
  60% {
    opacity: 0.6;
    color: #2cb67d;
  }
  80% {
    opacity: 0.8;
    color: #2cb67d;
  }
  100% {
    opacity: 1;
    color: #ffffff;
  }
}
