.navbar-container {
  background-color: #16161a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 5;
  left: 0;

  .square {
    position: absolute;
    left: 0;
    top: 100px;
    background: linear-gradient(to right, white 0%, #2cb67d 0%, #2cb67d 100%);
    background-size: 100% 100%;
    animation: square-animation 3.7s ease-in-out forwards;
  }

  .elements {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.8em;

    .me {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      position: absolute;
      right: 100%;
      left: 100px;
      cursor: pointer;
      font-family: "Oxygen", sans-serif;
      animation: line-animate 5s ease-in-out forwards;
      font-weight: 600;

      .name {
        font-size: 1.6em;

        .l {
          position: relative;
          bottom: 10px;
          left: 4px;
        }

        .a {
          color: #2cb67d;
        }
      }

      .poste {
        font-size: 0.5em;
        position: relative;
        left: 3px;
        bottom: 10px;

        .w {
          color: #2cb67d;
        }
      }
    }
  }

  ul {
    padding: 0;

    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 30px;
    list-style-type: none;
    font-weight: 300;
    font-size: 0.7em;
    position: relative;
    left: 0;
    animation: liste-animate 6s ease forwards;

    .line-mobile {
      visibility: hidden;
    }

    a {
      color: #fff;
    }

    .liste {
      display: inline-block;
      position: relative;
      cursor: pointer;
      font-family: "Oxygen", sans-serif;
      animation: item-opacity 2.3s ease forwards;
    }

    .liste:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      top: 30px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.2s ease-out;
    }

    .liste:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    opacity: 0;
    animation: line-animate 4.7s ease-in forwards;
  }
}

@keyframes square-animation {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    background-size: 80% 20%;
  }

  50% {
    width: 100%;
    height: 2px;
    opacity: 1;
    left: 0;
    background-size: 100% 100%;
  }

  80% {
    width: 100%;
    height: 2px;
    opacity: 1;
    left: calc(100% - 10px);
    background-size: 100% 100%;
  }

  90% {
    width: 2px;
    height: 0px;
    opacity: 1;
    left: calc(0% - 0px);
    background-size: 100% 100%;
    background-color: #fff;
  }

  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
    left: calc(0% - 0px);
    background-size: 100% 100%;
    background-color: #ffff;
  }
}

@keyframes line-animate {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes liste-animate {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    opacity: 1;
    transition: 1s ease;
  }
}

@keyframes item-opacity {
  0% {
    opacity: 0;
    color: #2cb67d;
  }

  20% {
    opacity: 0.2;
    color: #2cb67d;
  }

  40% {
    opacity: 0.4;
    color: #2cb67d;
  }

  60% {
    opacity: 0.6;
    color: #2cb67d;
  }

  80% {
    opacity: 0.8;
    color: #2cb67d;
  }

  100% {
    opacity: 1;
    color: #ffffff;
  }
}

@media screen and (max-width: 740px) {
  .navbar-container {
    height: 60px;

    .square {
      top: 60px;
    }

    .elements {
      .me {
        left: 30px;
        top: 12px;

        .name {
          font-size: 0.8em;
        }
      }
    }
    ul {
      flex-direction: column;
      width: 10px;
      font-size: 0.5em;
      position: relative;
      left: 25vh;
      height: 50px;

      .line-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        visibility: visible;
        position: relative;
        background-color: #000000;
        position: absolute;
        right: 20px;
        display: flex;
        .line-menu {
          height: 5px;
          background-color: #fff;
          width: 20px;
        }
      }
      li {
        visibility: hidden;
      }
    }

    .line {
      top: 60px;
    }
  }
}
