.skills {
  margin: 0 auto;
  color: #fff;

  .filter-bar {
    font-family: "Oxygen", sans-serif;
    width: 100%;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    z-index: 2;
    position: relative;
    top: 70px;
    border-bottom: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 13px 27px -5px,
      rgb(0, 0, 0) 0px 8px 16px -8px;

    label {
      padding: 0px 20px 0px 20px;
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;

      display: flex;
      flex-direction: column;
      gap: 10px;

      input[type="checkbox"] {
        height: 20px;
        accent-color: #2cb67d;
      }
    }
  }

  h1 {
    font-size: 3.2em;
    font-weight: 600;
  }

  h1,
  span {
    display: flex;
    justify-content: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #subtitle {
      padding: 0px 280px 100px 280px;
      text-align: center;
      font-weight: 200;
      font-size: 3em;
      font-family: "Oxygen", sans-serif;
      border-bottom: 2px solid #72757e;
    }

    #check-msg {
      position: relative;
      top: 30px;
      width: 900px;
      font-weight: 500;
      color: #94a1b2;

      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 20px;
      text-align: center;
      .fleche {
        font-size: 1.5 em;
      }
    }

    .sidebar-content {
      display: flex;
      flex-direction: row;
      padding: 160px 0 50px 0;
      background-color: rgba(198, 198, 200, 0.145);
      border-radius: 10px;
      justify-content: center;
      gap: 30px;
      width: 100%;
      position: relative;
      bottom: 50px;

      span {
        color: #010101;
        font-weight: 500;
        font-size: 1.4em;
      }

      .column-1,
      .column-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .techno-front,
      .techno-back,
      .bdd,
      .dev-tools,
      .logiciels,
      .versioning,
      .communication {
        box-shadow: rgba(0, 0, 0, 0.117) 0px 13px 27px -5px,
          rgb(0, 0, 0) 0px 8px 16px -8px;
        width: 500px;
        min-height: 50px;
        padding: 20px;
        transition: 2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #8294c4;
        border-radius: 5px;
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-in-out;
      }

      .content.open {
        max-height: 2000px;
      }
    }
  }
}
