.skills {
  margin: 0;
  color: #fff;

  .filter-bar {
    font-family: "Oxygen", sans-serif;
    background-color: rgba(198, 198, 200, 0.12);
    padding: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin: 150px 0 50px 0;

    label {
      padding: 0px 20px 0px 20px;
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;

      display: flex;
      flex-direction: column;
      gap: 10px;

      input[type="checkbox"] {
        height: 20px;
        accent-color: #2cb67d;
      }
    }
  }

  h1 {
    font-size: 2.2em;
    font-weight: 600;
  }

  h1,
  span {
    display: flex;
    justify-content: center;
  }

  .sidebar {
    width: 100%;

    #subtitle {
      padding: 0px 280px;
      text-align: center;
      font-weight: 200;
      font-size: 1em;
      font-family: "Oxygen", sans-serif;
    }

    #check-msg {
      position: relative;
      top: 130px;
      font-weight: 500;
      color: #94a1b2;
      background-color: rgba(198, 198, 200, 0.09);
      padding: 10px;
    }

    .sidebar-content {
      display: flex;
      flex-direction: row;
      padding: 150px 0;
      background-color: rgba(198, 198, 200, 0.145);
      border-radius: 10px;
      justify-content: center;
      gap: 30px;

      span {
        color: #010101;
        font-weight: 500;
        font-size: 1.4em;
      }

      .column-1,
      .column-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .techno-front,
      .techno-back,
      .bdd,
      .dev-tools,
      .logiciels,
      .versioning,
      .communication {
        box-shadow: rgba(62, 62, 186, 0.117) 0px 13px 27px -5px,
          rgba(255, 255, 255, 0.39) 0px 8px 16px -8px;
        width: 500px;
        min-height: 50px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .techno-front {
        background-color: #72757e;
      }

      .techno-back {
        background-color: #2cb67d;
      }

      .bdd {
        background-color: #94a1b2;
      }

      .dev-tools {
        background-color: #7f5af0;
      }

      .logiciels {
        background-color: #ffffff6d;
      }

      .versioning {
        background-color: #16161a;

        span {
          color: #fff;
        }
      }

      .communication {
        background-color: #010101;

        span {
          color: #fff;
        }
      }
    }
  }
}
