.skills {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #skills {
    height: 100px;
  }
  .filter-bar {
    font-family: "Oxygen", sans-serif;

    padding: 30px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    z-index: 2;
    position: relative;
    top: 70px;
    border-bottom: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px 0px,
      rgb(0, 0, 0) 0px 15px 18px -10px;

    label {
      padding: 0px 20px 0px 20px;
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      input[type="checkbox"] {
        height: 20px;
        accent-color: #2cb67d;
      }
    }
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3em;
      position: relative;
      left: 3500px;
      font-weight: 600;
    }

    p {
      position: relative;
      right: 3500px;
      font-size: 2.5em;
    }

    h1,
    p {
      display: flex;
      justify-content: center;
    }

    .fleche {
      font-size: 2em;
    }

    &.scrolling {
      h1 {
        opacity: 0;
        animation: title-animate 0.5s ease forwards;
      }

      p {
        opacity: 0;
        animation: p-animate 1.5s ease forwards;
      }
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;

    #subtitle {
      padding: 0px 280px 100px 280px;
      text-align: center;
      font-weight: 200;
      font-size: 1em;
      font-family: "Oxygen", sans-serif;
      border-bottom: 2px solid #72757e;
    }

    #check-msg {
      position: relative;
      top: 30px;
      width: 900px;
      font-weight: 500;
      color: #94a1b2;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }

    .sidebar-content {
      display: flex;
      flex-direction: row;
      padding: 160px 0 50px 0;
      background-color: rgba(198, 198, 200, 0.145);
      border-radius: 10px;
      justify-content: center;
      gap: 30px;
      width: 100%;
      position: relative;
      bottom: 50px;

      span {
        color: #010101;
        font-weight: 500;
        font-size: 1.4em;
      }

      .column-1,
      .column-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .techno-front,
      .techno-back,
      .bdd,
      .dev-tools,
      .logiciels,
      .versioning,
      .communication {
        box-shadow: rgba(0, 0, 0, 0.117) 0px 13px 27px -5px,
          rgb(0, 0, 0) 0px 8px 16px -8px;
        width: 500px;
        min-height: 50px;
        padding: 20px;
        transition: 2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(130, 148, 196, 0.8);
        text-align: center;
        border-radius: 5px;
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-in-out;
      }

      .content.open {
        max-height: 8000px;
      }
    }
  }
}

@keyframes title-animate {
  0% {
    opacity: 0;
    left: 3500px;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes p-animate {
  0% {
    opacity: 0;
    right: 3500px;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    right: 0px;
  }
}

@media screen and (max-width: 1390px) {
  .skills {
    .filter-bar {
      label {
        font-size: 0.9em;
      }
    }

    .sidebar {
      .sidebar-content {
        span {
          color: #010101;
          font-weight: 500;
          font-size: 1.4em;
        }

        .techno-front,
        .techno-back,
        .bdd,
        .dev-tools,
        .logiciels,
        .versioning,
        .communication {
          width: 400px;
        }
      }

      #check-msg {
        position: relative;
        top: 30px;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .skills {
    .filter-bar {
      label {
        font-size: 0.7em;
      }
    }

    .sidebar {
      .sidebar-content {
        span {
          color: #010101;
          font-weight: 500;
          font-size: 1.1em;
        }

        .techno-front,
        .techno-back,
        .bdd,
        .dev-tools,
        .logiciels,
        .versioning,
        .communication {
          width: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .skills {
    .scroll-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 2em;
        position: relative;
        left: 3500px;
        font-weight: 600;
      }

      p {
        position: relative;
        right: 3500px;

        width: 300px;
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .skills {
    .filter-bar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 50px;
      padding: 10px 0;
      z-index: 2;
      position: relative;
      top: 70px;
      border-bottom: 1px solid #000000;
      background-color: #3d3e4294;
      width: auto;

      label {
        padding: 15px;
        font-size: 0.8em;
        input[type="checkbox"] {
          height: 15px;
          accent-color: #2cb67d;
          margin: 0;
        }
      }
    }

    .sidebar {
      .sidebar-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(198, 198, 200, 0);
        span {
          color: #010101;
          font-weight: 500;
          font-size: 1em;
        }

        .techno-front,
        .techno-back,
        .bdd,
        .dev-tools,
        .logiciels,
        .versioning,
        .communication {
          width: 400px;
        }
      }

      #check-msg {
        position: relative;
        top: 30px;
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .skills {
    .filter-bar {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      width: 440px;

      label {
        padding: 10px;
        font-size: 0.7em;
        input[type="checkbox"] {
          height: 15px;
          accent-color: #2cb67d;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 472px) {
  .skills {
    .filter-bar {
      width: 340px;

      label {
        padding: 10px;
        font-size: 0.8em;
        input[type="checkbox"] {
          height: 12px;
          accent-color: #2cb67d;
          margin: 0;
        }
      }
    }

    .sidebar {
      .sidebar-content {
        .techno-front,
        .techno-back,
        .bdd,
        .dev-tools,
        .logiciels,
        .versioning,
        .communication {
          width: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .skills {
    .filter-bar {
      width: 300px;

      label {
        padding: 10px;
        font-size: 0.8em;
        input[type="checkbox"] {
          height: 12px;
          accent-color: #2cb67d;
          margin: 0;
        }
      }
    }

    .sidebar {
      .sidebar-content {
        .techno-front,
        .techno-back,
        .bdd,
        .dev-tools,
        .logiciels,
        .versioning,
        .communication {
          width: 250px;
        }
      }
      #check-msg {
        max-width: 250px;
      }
    }
  }
}
